
.songCard{
    width: 100%;
    height: 100%;
    display: flex;

    .songCardContent {
        flex: 1;

        h4{ 
            margin: 8px 0;
        }

        .songDescription{
            p{ margin: 0; font-size: 14px; }
        }
    }

    button{
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        border: none;
        background-color: transparent;
        color: rgb(200, 200, 200);
        align-self: center;

        &:hover{
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}
